.container{
    width: 620px;
    background-color: var(--dark-700);
    color: var(--white);
}

.container h2{
    margin: 1rem 0;
}

.containerItem{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    strong{
        color: var(--green-900);
    }
}

.description{
    margin-top: 0.5rem;
    word-break: break-all; //para se chegar ao fim do modal quebrar a linha

}

.buttonOrder{
    margin-top: 1.5rem;
    background-color: rgba(0,0,0, 40%);
    border: 0;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    color: var(--red-900);
}

.table{
    font-size: 1.5rem;
    color: var(--green-900);
}

@media screen and (max-width: 700px){
    .container{
        width: 330px;
    }    
}